<!--<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">-->
<title>Project Zomboid Utils</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS Includes -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
<!--<link href="/bower_components/angular-ui-select/dist/select.css" />-->
<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="styleshet" href="/bower_components/font-awesome/css/font-awesome.css" />
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">-->
<!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">-->

