<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/content/weaponCompare.css">
</head>
	<% include ../partials/header %>
	<h2>This website is under construction.</h2>
	<h3>Planned Features:</h3>
	<ul>
		<li>
			<h4>Weapon Comparison</h4>
			<p>Choose two weapons, and see what advantage one has over the other (including hydrocraft).</p>
		</li>
		<li>
			<h4>Item Checklist</h4>
			<p>Create a checklist to track which items you have found or still need.</p>
		</li>
		<li>
			<h4>Scenario Suggestions</h4>
			<p>Can't decide on the settings for your next playthrough? Roll the dice and give yourself a challenge! Choose from popular culture, or difficulty.</p>
		</li>
		<li>
			<h4>Graphical Recipe Generator</h4>
			<p>Select a recipe, and see all requirements (with any sub-recipes) and a total list of resources required to complete it.</p>
		</li>
	</ul>
	<% include ../partials/footer %>
</html>
