<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/content/weaponCompare.css">
</head>
	<% include ../partials/header %>
	<h2>This website is under construction.</h2>
	<h3>Planned Features:</h3>
	<ul>
		<li>
			<h4>Weapon Comparison</h4>
			<p>Choose two weapons, and see what advantage one has over the other.</p>
		</li>
		<li>
			<h4>Graphical Recipe Generator</h4>
			<p>Select a recipe, and see all requirements (with any sub-recipes) and a total list of resources required to complete it.</p>
		</li>
	</ul>
	<% include ../partials/footer %>
</html>
