<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="/content/weaponCompare.css">
	<script type="text/javascript" src="/content/weaponCompare.js"></script>
	<script type="text/javascript">
$(function(){
	$(document).on('click','input[type=text]',function(){ this.select(); });
	$(document).on('keypress','input[type=text]',function(e){
		if (e.which == 13){
			//$(this).blur();
		}
	});
});
	</script>
</head>
<body ng-app="zomboid">
	<% include ../partials/header %>
	<div ng-controller="main" class="container-fluid">
		<!-- Modal -->
		<div class="modal left fade" id="aboutPage" tabindex="-1" role="dialog" aria-labelledby="aboutPageLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="aboutPageLabel">About this page</h4>
					</div>

					<div class="modal-body">
						<p>This tool provides a method for players to track what items they need to find, what items they already have (for example, by naming a group "Upstairs Bookshelf" and adding the items in that container).</p>
					</div>

				</div><!-- modal-content -->
			</div><!-- modal-dialog -->
		</div><!-- modal -->

		<div class="row">
			<div class="col-md-1">
				<button class="btn" style="border:1px solid;" ng-click="addGroup()">Add Group</button>
			</div>
			<div class="col-md-1">
				<div class="dropdown">
					<button style="margin-top:10px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Presets
						<span class="caret"></span></button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
						<li><a href="#" ng-click="addTools()">Tools</a></li>
						<li><a href="#" ng-click="addBooks()">Books</a></li>
					</ul>
				</div>
			</div>
			<br/>
		</div>
		<div class="row" style="margin-top:10px" ng-cloak>
			<div class="col-md-4">
				<div ng-repeat="group in itemChecklist" >
					<div class="card card-inverse" id="{{group.name}}">
						<div class="card-block">
							<h4>
								<div class="input_container">
									<input ng-keyup="groupEnter($event.keyCode,$index,group.name)"
		type="text" 
  style="border:none;background-color:transparent;" 
  name="groupName" 
  class="groupCard" ng-model="group.name">
									<span style='color:grey' class="glyphicon glyphicon-pencil editable"></span>

									<button style="float:right;background-color:transparent;" 
		 class="btn" ng-click="groupVisibility = !groupVisibility">
										<span ng-show="groupVisibility" class="glyphicon glyphicon-eye-close"></span>
										<span ng-show="!groupVisibility" class="glyphicon glyphicon-eye-open"></span>
									</button>
								</div></h4>
								<div class="card-text" ng-show="!groupVisibility">
									<li style="padding-bottom:5px;background-color:transparent;list-style-type: none;"
	     ng-repeat="items in group.items">
										<input type="checkbox" class="form-check-input">
										<input type="text" id="{{items.item}}" 
			     class="itemList" style="border:none;"
			 ng-model="items.item" ng-keyup="addItemEnter($parent.$index,group.name,$event.keyCode)">
										<button ng-click="remove($index,$parent.$index)"type="button" class="btn btn-xs btn-danger">
											<span style="padding-bottom:3px;" class="glyphicon glyphicon-minus"></span>
									</li>
									<button ng-click="addItem($index,group.name)"
		 type="button" class="btn btn-xs btn-success">
										<span class="glyphicon glyphicon-plus" style="padding-bottom:3px;"></span></button>
									<button ng-click="removeGroup($index)"
		 class='btn btn-xs btn-danger' style="float:right;padding-bottom:3px;">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
									<!--<button ng-click="addItem(newItem,group.name}">Add</button>-->
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
