<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" href="/content/weaponCompare.css">
		<script type="text/javascript" src="/content/weaponCompare.js"></script>
		<script type="text/javascript">
			$(function(){
				$(document).on('click','input[type=text]',function(){ this.select(); });
				$(document).on('keypress','input[type=text]',function(e){
					if (e.which == 13){
						//$(this).blur();
					}
				});
					});
		</script>
		<style>
		.input_container{
		position:relative;
		padding:0;
		margin:0;
		}
		.editable{
		position:absolute;
		left:10px;
		display:none;
		}
		h4:hover .editable{
		display:inline;
		}
		.groupCard{
		padding-left:30px;
		}
		.card {
		/* Add shadows to create the "card" effect */
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		/*width:50%;*/
		padding:5px 20px;
		background-color:#fcfcfc;
		border: 2px solid #f9f9f9;
			margin-bottom:20px;
			}
		</style>
	</head>
	<body ng-app="zomboid">
		<% include ../partials/header %>
		<div ng-controller="main" class="container-fluid">
			<div class="row">
				<div class="col-md-1">
			<button class="btn" style="border:1px solid;" ng-click="addGroup()">Add Group</button>
				</div>
				<div class="col-md-1">
			<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Presets
			<span class="caret"></span></button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
				<li><a href="#" ng-click="addTools()">Tools</a></li>
				<li><a href="#" ng-click="addBooks()">Books</a></li>
			</ul>
			</div>
				</div>
			<br/>
			</div>
			<div class="row" style="margin-top:10px">
				<div class="col-md-4">
			<div ng-repeat="group in itemChecklist" >
				<div class="card card-inverse" id="{{group.name}}">
					<div class="card-block">
						<h4>
						<div class="input_container">
						<input ng-keyup="addItemEnter($event.keyCode,$index,group.name)"
	     					type="text" 
	    					style="border:none;background-color:transparent;" 
	   					name="groupName" 
					  	class="groupCard" ng-model="group.name">
						<span style='color:grey' class="glyphicon glyphicon-pencil editable"></span>
						
						<button style="float:right;background-color:transparent;" 
							class="btn" ng-click="groupVisibility = !groupVisibility">
							<span ng-show="groupVisibility" class="glyphicon glyphicon-eye-close"></span>
							<span ng-show="!groupVisibility" class="glyphicon glyphicon-eye-open"></span>
						</button>
						</div>
</h4>
						<div class="card-text" ng-show="!groupVisibility">
							<li style="padding-bottom:5px;background-color:transparent;list-style-type: none;"
								ng-repeat="items in group.items">
								<input type="checkbox" class="form-check-input">
								<input type="text" id="{{items.item}}" 
			   					class="itemList" style="border:none;"
								ng-model="items.item" ng-keyup="addItemEnter($parent.$index,group.name,$event.keyCode)">
								<button ng-click="remove($index,$parent.$index)"type="button" class="btn btn-xs btn-danger">
								<span style="padding-bottom:3px;" class="glyphicon glyphicon-minus"></span>
							</li>
							<!-- Manual add button (+) -->
							<button ng-click="addItemEnter($index,group.name)" type="button" class="btn btn-xs btn-success">
							<span class="glyphicon glyphicon-plus" style="padding-bottom:3px;"></span></button>
							<button ng-click="removeGroup($index)"
								class='btn btn-xs btn-danger' style="float:right;padding-bottom:3px;">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
	</body>
